<!--
.section {
    display: block;
    padding: 20px;
    background-color: white;
}



.pianoTextInit {
    font-family: "Press Start 2P", sans-serif;
}

.pianoWhiteKey {
    fill: white;
}

.pianoKey:hover {
    fill: red;
    cursor: pointer;
}

.distributionBtn:hover {
    fill: red;
    cursor: pointer;
}