
h1 {
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    color: #333;
    margin-top: 50px;
}


h2 {
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    color: #333;
    margin-top: 20px;
}

.video-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.tiktok-video {
    width: calc(30% - 10px);
    box-sizing: border-box;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.yes-button, .no-button {
    background-color: rgba(126, 191, 224, 0.72);
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#input-container {
    text-align: center;
}



.section {
    display: block;
    padding: 20px;
    background-color: lightgoldenrodyellow;
    max-height: 100vh;
}


.pianoTextInit {
    font-family: "Press Start 2P", sans-serif;
}

.pianoWhiteKey {
    fill: white;
}

.pianoKey:hover {
    fill: red;
    cursor: pointer;
}

.distributionBtn:hover {
    fill: red;
    cursor: pointer;
}
#spotify-slider {
    width: 50%;
    margin: auto;
    position: relative;
}

#tiktok-slider {
    width: 50%;
    margin: auto;
    position: relative;
}

.slider-label {
    position: absolute;
    top: 50%;
}


#start-label-s,
#end-label-s,
#start-label-t,
#end-label-t {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#start-label-s,
#start-label-t {
    left: 5%;
}

#end-label-s,
#end-label-t {
    right: 5%;
}

#radarchart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delayed-element {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.delayed-element.hide-element {
    opacity: 0;
}

.delayed-element.show-element {
    opacity: 1;
}