
.page {
    display: block;
    padding: 20px;
    background-color: white;
}

.page.active {
    display: block;
}

#navigation {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin: 10px 0;
    cursor: pointer;
}